@using Microsoft.AspNetCore.Http;
@{ var tipoUsuario = Context.Session.GetString("TIPO_USUARIO") == null ? "" : Context.Session.GetString("TIPO_USUARIO");
    var nomeUsuario = Context.Session.GetString("NOME_USUARIO") == null ? "" : Context.Session.GetString("NOME_USUARIO");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - iSangue</title>
    <link rel="icon" href="~/img/isangue-logo.png">
    <!--<a href="/">My comment
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  -->
    <link rel="stylesheet" href="~/css/site.css"/></a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E15153; ">
            <div class="container">
                <img class="img-fluid" src="~/img/isangue-logo.png" alt="Card image cap" style="width: 25px;height: 25px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">iSangue</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Home" asp-action="Teste">Teste</a>
                        </li>

                        @{
                            if (tipoUsuario.Equals("DOADOR") || tipoUsuario.Equals("ADMINISTRADOR"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Doador
                                    </a>
                                    <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">

                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Index">Listar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Create">Cadastro</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Edit">Editar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Details">Detalhes</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Delete">Deletar</a>
                                    </div>
                                </li>
                            }
                        }

                        @{
                            if (tipoUsuario.Equals("ENTIDADE_COLETORA") || tipoUsuario.Equals("ADMINISTRADOR"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Entidade Coletora
                                    </a>
                                    <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="EntidadeColetora" asp-action="Index">Listar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="EntidadeColetora" asp-action="Create">Cadastro</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="EntidadeColetora" asp-action="Edit">Editar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="EntidadeColetora" asp-action="Details">Detalhes</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="EntidadeColetora" asp-action="Delete">Deletar</a>
                                    </div>
                                </li>

                            }
                        }


                        @{
                            if (tipoUsuario.Equals("CEDENTE_LOCAL") || tipoUsuario.Equals("ADMINISTRADOR"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cedente Local
                                    </a>
                                    <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="CedenteLocal" asp-action="Index">Listar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="CedenteLocal" asp-action="Create">Cadastro</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="CedenteLocal" asp-action="Edit">Editar</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="CedenteLocal" asp-action="Details">Detalhes</a>
                                        <a class="dropdown-item text-light bg-transparent" asp-area="" asp-controller="CedenteLocal" asp-action="Delete">Deletar</a>
                                    </div>
                                </li>
                            }
                        }

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @{
                            if (nomeUsuario.Equals(""))
                            {
                                <li><a class="text-light bg-transparent" asp-area="" asp-controller="Doador" asp-action="Create"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
                                <li><a class="text-light bg-transparent" asp-area="" asp-controller="Usuario" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            }
                            if (!nomeUsuario.Equals(""))
                            {
                                <li><a class="text-light bg-transparent">Olá, @nomeUsuario</a> </li>
                                <li><a class="text-light bg-transparent" asp-area="" asp-controller="Usuario" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            }}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - iSangue - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--<a href="/">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        </a> -->


    <script src="~/js/site.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)
</body>
</html>
