@{
    ViewData["Title"] = "Cadastro de Doador";
    @using SiteFatec.Models;

    var doador = new Doador();
    if (Context.Request.Method == "POST")
    {
        doador.nome = Context.Request.Form["nome"];
        doador.sobrenome = Context.Request.Form["sobrenome"];
        doador.endereco = Context.Request.Form["endereco"];
        doador.cidadeDoacao = Context.Request.Form["cidade"];
        doador.estadoResidencia = Context.Request.Form["estado"];
        doador.dataNasc = Context.Request.Form["dataNascimento"];
        doador.email = Context.Request.Form["email"];
        doador.telefone = int.Parse(Context.Request.Form["telefone"]);

    }

<div class="col-sm-3">
    @if (doador.nome != null)
    {
        <p>
            Dados inseridos: <br />
            Nome: @doador.nome<br />
            Sobrenome: @doador.sobrenome <br />
            e outros
        </p>
    }

</div>
    

    <div class="col-sm-6 align-content-center">
        <div class="card" style="width: 100%;">
            <form method="post">
                <fieldset>
                    <legend class="text-center">Cadastro de Doador</legend>
                    <h4>Nome:</h4><input type="text" name="nome" value="" required />
                    <h4>Sobrenome:</h4><input type="text" name="sobrenome" value="" required />
                    <h4>Endereço:</h4><input type="text" name="endereco" value="" required />
                    <h4>Cidade:</h4><input type="text" name="cidade" value="" required />
                    <h4>Estado:</h4><input type="text" name="estado" value="" required />
                    <h4>Data de Nascimento:</h4><input type="date" class="text-center" name="dataNascimento" value="" required />
                    <h4>Email:</h4><input type="email" name="email" value="" required />
                    <h4>Telefone:</h4><input type="tel" name="telefone" value="" required />
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo Sangúineo</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Não Sei</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                            <option>O+</option>
                            <option>O-</option>
                        </select>
                    </div>
                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Submit" class="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-sm-3"></div>


}

