.vs/
bin
obj/
bin/*

bin/Debug/netcoreapp3.1/SiteFatec.deps.json
bin/Debug/netcoreapp3.1/SiteFatec.pdb
bin/Debug/netcoreapp3.1/SiteFatec.dll
bin/Debug/netcoreapp3.1/SiteFatec.Views.dll
bin/Debug/netcoreapp3.1/SiteFatec.Views.pdb
