<h4>
    O nosso sistema funciona de maneira simples e objetiva. Nosso objetivo é realizar o intermedio entre os doadores de sangue e as entidades
    que realizam coleta remota, além dos disponibilizadores dos locais que possam ser realizados o evento.
</h4>
<br />




      <div class="container col-sm-12">
          <table class="table-bordered">
              <tr>

                  <td class=" container col-md-3 bg-info text-white align-content-start">
                      <h2 class="text-center"> 1 </h2>
                      <h3 class="text-center"> Cadastro</h3>
                      <h4 class="text-justify">
                          Você se cadastra em nosso site, informa a cidade que deseja realizar a doação, ou seleciona o evento com data marcada
                          no qual queira realizar a doação (caso exista).
                      </h4>
                  </td>
                  <td class=" container col-md-3 bg-secondary text-white">
                      <h2 class="text-center"> 2 </h2>
                      <h3 class="text-center"> Cedente dos locais para coleta</h3>
                      <h4 class="text-justify">
                          Realizamos a busca de donos de espacos públicos que atendam os requisitos minimos para que a coleta, e buscamos uma parceria para que possam
                          ceder o espaco para realizacao dos eventos (escolas e faculdades atendam esses requisitos).
                      </h4>
                  </td>

                  <td class="container col-md-3 bg-warning">
                      <h2 class="text-center"> 3 </h2>
                      <h3 class="text-center"> Entidades Coletoras</h3>
                      <h4 class="text-justify">
                          Apos atingir uma quantidade mínima de doadores, notificamos as entidades coletoras do estado que possuimos uma lista de pessoas interessadas
                          em realizar doação de sangue e que tambem dispomos de um local para que as coletas possam ser realizadas, e buscamos marcar
                          uma data para coleta do sangue.
                      </h4>
                  </td>

                  <td class="container col-md-3 bg-success">
                      <h2 class="text-center"> 4 </h2>
                      <h3 class="text-center"> Data confirmada, hora de doar!</h3>
                      <h4 class="text-justify">
                          Após confirmarmos a data de coleta com a entidade coletora, e a disponibilidade do espaco com o cedente do local,
                          te enviaremos uma notificacao por email e/ou WhatsApp, informando a data, hora e local que sera realizado a coleta, além de intruções
                          para realizar a doacao no dia.
                      </h4>
                  </td>
              </tr>

          </table>
          <br /><br />
      </div>