@{
    ViewData["Title"] = "Inicio";
}


<center>
    <br><br>
    <h3>Bem vindo ao iSangue!</h3>
    <!-- an image of blood donator -->
    <img src="~/img/isangue-logo.png" width="15%" />


    <br><br>
    <h3 class="card-title">O que é o iSangue?</h3>
</center>
<div class="container">

    <h4 class="text-center">
        iSangue é uma Aplicação web onde conecta Doadores, Entidades coletoras e Cedentes de locais onde o evento de doação de sangue possa ser realizado.
        <br />  Nosso objetivo é atender cidades do litoral Paulista que não possuem banco de sangue.
    </h4>
</div>
<br>
<br>


<div class="container col-sm-4">
</div>
<center>
    <div class="container col-sm-4">

        <h4>Criador </h4>
        <ul class="list-group">
            <li class="list-group-item">Ewerton Guimarães <br />
            <a href="http://github.com/ewerton336">Github</a><br />
            <a href="mailto:ewertonguimaraes2@gmail.com">Contato</a></li> 

       
        </ul>
        <br /><br /><br />
    </div>
</center>



