    @{
    ViewData["Title"] = "Home Page";
}

@{
    int a = 6;
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>@a</h3>
    <h3>teste</h3>
</div>



