@{
    ViewData["Title"] = "Inicio";
}


<center>
    <br><br>
    <h3>Bem vindo ao iSangue!</h3>
    <!-- an image of blood donator -->
    <img src="~/img/isangue-logo.png" width="15%" />


    <br><br>
    <h3 class="card-title">O que e o iSangue?</h3>
</center>
<div class="container">

    <h4 class="text-justify">
        O iSangue e um sistema de gerenciamento de cadastro Doadores de Sangue,
        Cadastro de cedentes disponibilizadores de locais para coleta de sangue e cadastro de entidades Coletoras de sangue,
        que realizam coletas remotas. O intuito do nosso sistema e disponibilizar coleta de sangue em cidades remotas que nao possuem banco de sangue.
        Neste sistema voce realiza seu cadastro, e ao atingir uma quantidade minima de doadores interessados 
        realizamos a comunicacao a entidades coletoras de sangue, para que possamos organizar o evento de doacao.
    </h4>
</div>
<br>
<br>

<div class="container col-sm-4">
    </div>
    <center>
        <div class="container col-sm-4">

            <h4>Criadores </h4>
            <ul class="list-group">
                <li class="list-group-item">Ewerton Guimaraes</li>
                <li class="list-group-item">Pedro</li>
            </ul>
        </div>
    </center>

    <br>
    <br>

