
<head>
  <title>Sobre Nós</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style type="text/css">
  .card-img-top{
    width:30%; /* you can use % */
    height: auto;
}
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sobre nós</h1>
    <p class="lead">A Pro Sangue é um projeto desenvolvido para melhorar a coleta de sangue da nossa região organizando os eventos de doação </p>
  </div>
</div>
    
  </div>

  <center><h2>Equipe</h2></center>

 
<center>
  <div> 
    <img class="card-img-top" src="Ewrton.png" alt="Card image cap">
    <h3>Ewerton</h3>
    <h4>Analista de sistemas</h4>
    <h4>Back End/Banco de Dados/Front End</h4>
  </div>     
</center>

<center>
  <div> 
    <img class="card-img-top" src="Pedro.png" alt="Card image cap">
    <h3>Pedro Henrique Rios e Silva</h3>
    <h4>Técnico de informática</h4>
    <h4>Analista de sistemas</h4>
    <h4>Front End</h4>
  </div>     
</center>




  
  


</body>
