
<div class="jumbotron jumbotron-fluid col-sm-12">
    
        <h1>Sobre nós</h1>
        <p class="lead">A Pro Sangue é um projeto desenvolvido para melhorar a coleta de sangue da nossa região organizando os eventos de doação </p>
 
</div>




    
    

    <div class="container-fluid col-sm-6 text-left">
        <img class="card-img-top align-content-lg-start" src="~/img/Ewrton.png" alt="Card image cap" style="width: 200px;height: 200px">
        <h4>Ewerton Guimarães</h4>
        <h4><a href="https://github.com/ewerton336">Github</a></h4>
    </div>
    <div class="container-fluid col-sm-6 text-right">
        <img class="card-img-top" src="~/img/Pedro.png" alt="Card image cap" style="width: 200px;height: 200px">
        
    </div>
    
