@{
    ViewData["Title"] = "Sobre";
}
<style type="text/css">
    .card-img-top {
        width: 50%; /* you can use % */
        height: auto;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3>Sobre nós</h3>
        <p class="lead">A Pro Sangue é um projeto desenvolvido para melhorar a coleta de sangue da nossa região organizando os eventos de doação </p>
    </div>
</div>



<center><h2>Equipe Desenvolvedora</h2></center>
<br />
<br />

<div class="col-sm-4">
    <center>
        <div>
            <img class="card-img-top rounded-circle" src="~/img/Ewrton.png" alt="Card image cap">
            <h3>Ewerton</h3>
            <h4>Analista de Sistemas</h4>
            <h4>Back End / Banco de Dados / Front End</h4>
        </div>
    </center>

</div>


<div class="col-sm-4"></div>


<div class="col-sm-4">
    <center>
        <div>
            <img class="card-img-top rounded-circle" src="~/img/Pedro.png" alt="Card image cap">
            <h3>Pedro Henrique Rios e Silva</h3>
            <h4>Analista de sistemas</h4>
            <h4>Front End</h4>
        </div>
    </center>
</div>


<h5>­</h5>
<h5>­</h5>
<h5>­</h5>



