@model iSangue.Models.Doador
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Cadastrado no evento com sucesso!";

    var nomeUsuario = Context.Session.GetString("NOME_USUARIO");
}



<h3> Obrigado @nomeUsuario!</h3>


<div class="alert alert-success"> Você se inscreveu no evento com sucesso! Assim que houver qualquer novidade você receberá uma notificação por email</div>
