@model iSangue.Models.CalendarioEvento
@using iSangue.Models;

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Evento</h1>

<h4>CalendarioEvento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeEvento" class="control-label"></label>
                <input asp-for="nomeEvento" class="form-control" />
                <span asp-validation-for="nomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataEvento" class="control-label"></label>
                <input asp-for="dataEvento" class="form-control" />
                <span asp-validation-for="dataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entidadeColetoraID" class="control-label">Entidade Coletora</label>
                <select class="form-control" asp-for="entidadeColetoraID">
                    @{
                        var entidadesColetoras = (IEnumerable<EntidadeColetora>)ViewData["entidades"];
                        foreach (var entidade in entidadesColetoras)
                        {
                            <option value="@entidade.idEntidade">@entidade.nome</option>
                        }}
                </select>
                <span asp-validation-for="cedenteLocalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedenteLocalID" class="control-label"></label>
                <select class="form-control" asp-for="cedenteLocalID">
                    @{
                        var cedenteLocals = (IEnumerable<CedenteLocal>)ViewData["cedentes"];
                        foreach (var cedente in cedenteLocals)
                        {
                            <option value="@cedente.IDCedente">@cedente.nome</option>
                        }}
                </select>
                <span asp-validation-for="cedenteLocalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

