@model iSangue.Models.Doador
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Emails Disparados com Sucesso";
}



<h3> Sucesso!</h3>


<div class="alert alert-success">
    <strong>Emails Enviados com sucesso!!</strong> <a href="../CalendarioEvento/ListarEventos" class="alert-link">Clique aqui para acessar a lista de eventos</a>.
</div>
