@model iSangue.Models.Doador
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Logado com sucesso!";

    var nomeUsuario = Context.Session.GetString("NOME_USUARIO");
}



<h3> Bem vindo @nomeUsuario!</h3>


<h3 class="bg-success"> Logado com sucesso!</h3>
